body, h1, h2,h3,h4, ul, li, p,a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: #292929;
}
img {
 
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: right;
}
  

body{
  max-width: 1228px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0 1.25rem 0 1.25rem;
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem 0 2.5rem 0;
  gap: 20px;
  align-items: center;
  
}
.logo {
  max-width: 157px;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  
}
.menu a{
  font-weight: 500;
  font-size:1.5rem ;
  line-height: 1.8rem;
  display: inline-block;
  padding:0.6rem 1rem ;
  position: relative;
  
}
.menu a:hover{
  color: #DA2535;
}
.botao-entrar {
  padding:0.6rem 3.75rem ;
  font-weight: 600;
  font-size:1.5rem ;
  line-height: 1.8rem;
  border: solid 2px #292929;
  border-radius: 10px;
}
.botao-entrar:hover{
  background-color: #DA2535;
  color: #FBFBFB;
  transition: 0.3s;
}
.sobre{
  display: grid;
  grid-template-columns:1fr 1fr;
}
.img-sobre{
  justify-self: end;
}
.content-sobre{
  align-self: center;
}
.content-sobre h1{
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
}
.content-sobre p{
  padding:1.5rem 0 3rem 0  ;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  max-width: 38ch;
}
.btn-cardapio{
  padding: 1rem 5.8rem;
  background: #DA2535;
  color:#FBFBFB;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  border-radius: 10px;
}
.btn-cardapio:hover{
  background: #B22222;
  transition: 0.3s;
}
.forma{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 124px;
}
.img-forma img{
  width: 610px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.content-forma h2{
  font-weight: 600;
  font-size: 3rem;
  line-height: 130%;
  
}
.content-forma p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6rem;
  padding: 1.5rem 0 2.5rem 0;
}
.content-forma a{
  color: #DA2535;
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;

}
.content-forma a:hover{
 color: #292929;
 transition: 0.3s;
}
.container-produtos{
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  justify-items: center;
  gap: 44px;
}
.h3-produtos{
  text-align: center;
  padding: 5.25rem 0 3.3rem 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  
}
.produto a{
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  display: inline-block;
  margin: 3.125rem 0 1rem 0;

}
.produto p:not(.produto-preco){
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6rem;
  text-align: center;
  max-width: 27ch;
  padding-bottom: 2rem;
}
.produto-preco{
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  
}
.produto img{
  max-width: 289px;
  max-height: 291px;
}
.produto{
  padding: 0 1.562rem 4rem 1.562rem;
  box-shadow:inset  0 150px 0 0   #ffff ;
  background: #F3F3F3;
  display: grid;
  justify-items: center;
  border-radius: 32px   ;
}
.container-coment{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px ;
  
}
.container-coment h3{
  grid-column: 1 / -1;
  padding: 6.25rem 0 3rem 0;
  font-weight: 600;
  font-size: 3rem;
  line-height: 123%;
}
.comentario{
  padding: 2.5rem;
  background: #F3F3F3;
  border-radius: 16px;

}
.comentario p:not(.nome){
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
} 

.comentario .nome{
  padding: 1.5rem 0 1rem 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 123%;
}
.comentario img{
  max-width: 120px;
  max-height: 120px;
}
.localizacao{
  display: grid;
}
.localizacao h3{
  font-weight: 600;
  font-size: 3rem;
  line-height: 123%;
  padding: 3.25rem 0 3rem 0;
}
.footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 0 4rem 0;
}
.logo-footer{
  padding-right: 3.125rem;
  max-width: 157px;
  max-height: 49px;
}
.infor a,p{
  display: block;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  
}
.infor h4 {
  padding-bottom: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 123%;
}
@media (max-width: 800px){
  .menu{
    gap: 10px;
  }
  .container{
    
    padding: 1.5rem 0 1rem 0;
  }
  .content-sobre h1{
   font-size: 2.5rem;
  }

  .forma{
    gap: 20px;
    padding-top: 3rem;
  }
  .forma h2{
    font-size: 2.5rem;
  }
  .forma p{
    padding: 1rem 0 1rem 0;
  }
  .h3-produtos{
    padding: 3rem 0 2rem 0;
    font-size: 2.5rem;
  }
  .container-produtos{
    overflow-x: scroll;
    
  }
  .produto{
    width: 300px;
    height: 500px;
  }
  .container-coment h3{
    padding: 3rem 0 2rem 0;
    font-size: 2.5rem;
  }
  .container-coment{
   grid-template-columns: auto;
   gap: 10px;
  }
  .comentario{
    display: flex;
    gap: 20px;
    padding: 1.5rem;
  }
  .localizacao h3{
    padding: 3rem 0 2rem 0;
    font-size: 2.5rem;
  }
  .mapa{
    width: auto;
  }
  .logo-footer{
    display: none;
  }
  .footer{
    padding: 3rem 0 2rem 0;
    justify-items: center;
  }
  .infor h4{
    font-size: 1.5rem;
  }
}
.js-content{
  display: none;
}

 .img-sobre.js-content,.content-forma.ativo{
  display: block !important;
  animation: show .5s forwards
}
@keyframes show{
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js-scroll{
  opacity: 0;
  transition: .3s;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo{
  opacity: 1;
  transition: .3s;
  transform: translate3d(0, 0, 0);

 
}